@import "tailwindcss";




body{
  font-family: var(--font-geist-sans);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-orbitron);
}




.overlap-text {
  display: flex;
  text-transform: uppercase;
  letter-spacing: -0.25ch;
  text-shadow: 1px 1px 0.25ch rgba(0,0,0,0.9);
}

.overlap-text span {
  min-width: 0.25ch;
  z-index: calc(1 * var(--i));
  position: relative;
}

/* FRONT overlap only */
.overlap-front {
  --m: 1;
}


